<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ "/style.css" | url }}">
        <title>{{ metas.site }} | {{ title }}</title>
        <meta name="author" content="{{ author.name }}">
        <meta property="article:published_time" content="{{ date | date: 'ATOM' }}">
        <link rel="canonical" href="{{ url | url: true }}">
        <link type="application/rss+xml" rel="alternate" href="{{ "/feed.xml" | url: true }}" title="Sebastian Wiesner">
        <link type="application/json" rel="alternate" href="{{ "/feed.json" | url: true }}" title="Sebastian Wiesner">
        {%- if 'TODO' == 'production' -%}
        <script data-goatcounter="https://swsnr.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        {%- endif -%}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><strong><a href="{{ "/" | url }}">{{metas.site}}</a></strong></li>
                </ul>
                <ul>
                    <li><a href="{{ "/about" | url }}">About</a></li>
                    <li><a href="{{ "/privacy" | url }}">Privacy policy</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <nav>
                <ul>
                    <li><small>{{metas.siteDescription}}</small></li>
                </ul>
                <ul>
                    <li><a href="mailto:{{author.email}}">Send email</a></li>
                    <li><a href="TODO: Feed link">Subscribe</a></li>
                </ul>
            </nav>
        </footer>
  </body>
</html>
